data
.venv
.env
node_modules
dist
poc
.DS_Store
__pycache__
npm-debug.log
yarn-error.log
.vscode
.idea
*.log
*.pyc
*.pyo
*.pyd

# UI specific
ui/node_modules/
ui/coverage/
ui/dist/
ui/playwright-report/
ui/test-results/